Repository WiiPlayer2/Yousei: changes, and which Jenkins stages are due for each by the changed paths.
All: Build App, Build Web, Publish App, Publish Web

Build App:
              steps {
                  sh 'docker build -t registry.dark-link.info/yousei:$CLEAN_GIT_BRANCH -f ./Yousei/Dockerfile .'
              }
          

Build Web:
              steps {
                  sh 'docker build -t registry.dark-link.info/yousei-web:$CLEAN_GIT_BRANCH -f ./Yousei.Web/Dockerfile .'
              }
          

Publish App:
              steps {
                  withDockerRegistry([credentialsId: 'vserver-container-registry', url: "https://registry.dark-link.info/"]) {
                      sh 'docker tag registry.dark-link.info/yousei:$CLEAN_GIT_BRANCH registry.dark-link.info/yousei:latest'
  ...

Publish Web:
              steps {
                  withDockerRegistry([credentialsId: 'vserver-container-registry', url: "https://registry.dark-link.info/"]) {
                      sh 'docker tag registry.dark-link.info/yousei-web:$CLEAN_GIT_BRANCH registry.dark-link.info/yousei-web:latest'
  ...

Always build on first build
  Jenkinsfile
Due: none

Feature/add web project (#17)
  Jenkinsfile
  Yousei.Web/App.razor
  Yousei.Web/Dockerfile
  Yousei.Web/Pages/Body.razor
  Yousei.Web/Pages/Error.cshtml
  Yousei.Web/Pages/Error.cshtml.cs
  Yousei.Web/Pages/Head.razor
  Yousei.Web/Pages/Index.razor
  Yousei.Web/Pages/_Host.cshtml
  Yousei.Web/Program.cs
  Yousei.Web/Properties/launchSettings.json
  Yousei.Web/Shared/MainLayout.razor
  Yousei.Web/Shared/MainLayout.razor.css
  Yousei.Web/Startup.cs
  Yousei.Web/Yousei.Web.csproj
  Yousei.Web/_Imports.razor
  Yousei.Web/appsettings.Development.json
  Yousei.Web/appsettings.json
  Yousei.Web/wwwroot/css/bootstrap/bootstrap.min.css
  Yousei.Web/wwwroot/css/bootstrap/bootstrap.min.css.map
  Yousei.Web/wwwroot/css/open-iconic/FONT-LICENSE
  Yousei.Web/wwwroot/css/open-iconic/ICON-LICENSE
  Yousei.Web/wwwroot/css/open-iconic/README.md
  Yousei.Web/wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css
  Yousei.Web/wwwroot/css/open-iconic/font/fonts/open-iconic.eot
  Yousei.Web/wwwroot/css/open-iconic/font/fonts/open-iconic.otf
  Yousei.Web/wwwroot/css/open-iconic/font/fonts/open-iconic.svg
  Yousei.Web/wwwroot/css/open-iconic/font/fonts/open-iconic.ttf
  Yousei.Web/wwwroot/css/open-iconic/font/fonts/open-iconic.woff
  Yousei.Web/wwwroot/css/site.css
  Yousei.Web/wwwroot/favicon.ico
  Yousei.sln
Due: Build Web, Publish Web

Add IConfigurationDatabase
  Yousei.Shared/IConfigurationDatabase.cs
Due: Build App, Build Web, Publish App, Publish Web

Renamed "Read"-methods to "Get"-Methods
  Yousei.Shared/IConfigurationDatabase.cs
Due: Build App, Build Web, Publish App, Publish Web

Implement ListConnectionConfigurations
  Yousei.Shared/IConfigurationProvider.cs
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
Due: Build App, Build Web, Publish App, Publish Web

Add implementation for ListConnectionConfigurations
  Yousei.Shared/IConfigurationProvider.cs
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
Due: Build App, Build Web, Publish App, Publish Web

Finish implementation from ConfigurationProviderDatabase
  Yousei.Shared/IConfigurationProvider.cs
  Yousei/Internal/ConfigurationProviderDatabase.cs
  Yousei/Program.cs
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
Due: Build App, Build Web, Publish App, Publish Web

Renamed "List"-methods to "Get"-methods
  Yousei.Shared/IConfigurationDatabase.cs
  Yousei/Internal/ConfigurationProviderDatabase.cs
Due: Build App, Build Web, Publish App, Publish Web

Revert "Renamed "List"-methods to "Get"-methods"
  Yousei.Shared/IConfigurationDatabase.cs
  Yousei/Internal/ConfigurationProviderDatabase.cs
Due: Build App, Build Web, Publish App, Publish Web

Renamed "List"-Methods to "Get"-Methods for ConfigurationProviders
  Yousei.Shared/IConfigurationProvider.cs
  Yousei/Internal/ConfigurationProviderDatabase.cs
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
Due: Build App, Build Web, Publish App, Publish Web

Add ConfigurationProviderDatabase for WebAPI (#18)
  Yousei.Shared/IConfigurationDatabase.cs
  Yousei.Shared/IConfigurationProvider.cs
  Yousei/Internal/ConfigurationProviderDatabase.cs
  Yousei/Program.cs
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
Due: Build App, Build Web, Publish App, Publish Web

Add Yousei.SourceGen & ParameterizedGenerator
  Yousei.Connectors/Yousei.Connectors.csproj
  Yousei.SourceGen/Helper.cs
  Yousei.SourceGen/ParameterizedAttribute.cs
  Yousei.SourceGen/ParameterizedGenerator.cs
  Yousei.SourceGen/Properties/launchSettings.json
  Yousei.SourceGen/Yousei.SourceGen.csproj
  Yousei.sln
Due: Build App, Publish App

Fix ParameterizedGenerator
  Yousei.SourceGen/ParameterizedGenerator.cs
Due: none

Replace AddArguments with ParameterizedNewTorrent
  Yousei.Connectors/Transmission/AddAction.cs
  Yousei.Connectors/Transmission/AddArguments.cs
Due: Build App, Publish App

Add build requirement
  Jenkinsfile
Due: none

Add DebugConnector
  Yousei/Internal/ConnectorRegistry.cs
  Yousei/Internal/Connectors/Debug/DebugConnection.cs
  Yousei/Internal/Connectors/Debug/DebugConnector.cs
  Yousei/Internal/Connectors/Debug/DumpAction.cs
Due: Build App, Publish App

Add IApi
  Yousei.Shared/IApi.cs
Due: Build App, Build Web, Publish App, Publish Web

Update launchSettings.json
  Yousei/Properties/launchSettings.json
Due: Build App, Publish App

Change project to Microsoft.NET.Sdk.Web
  Yousei/Program.cs
  Yousei/Properties/launchSettings.json
  Yousei/Startup.cs
  Yousei/Yousei.csproj
  Yousei/appsettings.Development.json
Due: Build App, Publish App

Implement IApi in app
  Yousei/Internal/Api.cs
  Yousei/Startup.cs
Due: Build App, Publish App

Adapt Dockerfile for web
  Yousei/Dockerfile
Due: Build App, Publish App

Add graphql configuration access
  Yousei/Api/Extensions/ConfigurationExtension.cs
  Yousei/Api/Query.cs
  Yousei/Api/SchemaType/JsonType.cs
  Yousei/Api/Types/Configuration.cs
  Yousei/Api/Types/Connection.cs
  Yousei/Internal/InternalApi.cs
  Yousei/Startup.cs
  Yousei/Yousei.csproj
Due: Build App, Publish App

Add read methods for database
  Yousei/Api/Extensions/BlockConfigExtension.cs
  Yousei/Api/Extensions/FlowExtension.cs
  Yousei/Api/Query.cs
  Yousei/Api/Types/Flow.cs
  Yousei/Startup.cs
Due: Build App, Publish App

Move database related methods to Database
  Yousei/Api/Database.cs
  Yousei/Api/Query.cs
Due: Build App, Publish App

Add Mutation
  Yousei/Api/Mutations/Mutation.cs
  Yousei/Api/SchemaType/JsonType.cs
  Yousei/Startup.cs
Due: Build App, Publish App

Add DatabaseMutation
  Yousei/Api/Mutations/DatabaseMutation.cs
  Yousei/Api/Types/FlowConfigInput.cs
  Yousei/Startup.cs
Due: Build App, Publish App

Implement AppApi
  Yousei.Web/Api/ApiOptions.cs
  Yousei.Web/Api/AppApi.cs
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Pages/Index.razor
  Yousei.Web/Program.cs
  Yousei.Web/Properties/launchSettings.json
  Yousei.Web/Startup.cs
  Yousei.Web/Yousei.Web.csproj
  Yousei.Web/_Imports.razor
  Yousei.Web/appsettings.Development.json
  Yousei/Api/Database.cs
  Yousei/Api/Mutations/DatabaseMutation.cs
Due: Build App, Build Web, Publish App, Publish Web

Add core as dependency for web
  Jenkinsfile
Due: none

Fix ConfigurationProviderDatabase.IsReadOnly
  Yousei/Internal/ConfigurationProviderDatabase.cs
Due: Build App, Publish App

Feature/add parameterizer (#19)
  Jenkinsfile
  Yousei.Connectors/Transmission/AddAction.cs
  Yousei.Connectors/Transmission/AddArguments.cs
  Yousei.Connectors/Yousei.Connectors.csproj
  Yousei.SourceGen/Helper.cs
  Yousei.SourceGen/ParameterizedAttribute.cs
  Yousei.SourceGen/ParameterizedGenerator.cs
  Yousei.SourceGen/Properties/launchSettings.json
  Yousei.SourceGen/Yousei.SourceGen.csproj
  Yousei.sln
Due: Build App, Publish App

Add DebugConnector (#20)
  Yousei/Internal/ConnectorRegistry.cs
  Yousei/Internal/Connectors/Debug/DebugConnection.cs
  Yousei/Internal/Connectors/Debug/DebugConnector.cs
  Yousei/Internal/Connectors/Debug/DumpAction.cs
Due: Build App, Publish App

Feature/implement api (#21)
  Jenkinsfile
  Yousei.Shared/IApi.cs
  Yousei.Web/Api/ApiOptions.cs
  Yousei.Web/Api/AppApi.cs
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Pages/Index.razor
  Yousei.Web/Program.cs
  Yousei.Web/Properties/launchSettings.json
  Yousei.Web/Startup.cs
  Yousei.Web/Yousei.Web.csproj
  Yousei.Web/_Imports.razor
  Yousei.Web/appsettings.Development.json
  Yousei/Api/Database.cs
  Yousei/Api/Extensions/BlockConfigExtension.cs
  Yousei/Api/Extensions/ConfigurationExtension.cs
  Yousei/Api/Extensions/FlowExtension.cs
  Yousei/Api/Mutations/DatabaseMutation.cs
  Yousei/Api/Mutations/Mutation.cs
  Yousei/Api/Query.cs
  Yousei/Api/SchemaType/JsonType.cs
  Yousei/Api/Types/Configuration.cs
  Yousei/Api/Types/Connection.cs
  Yousei/Api/Types/Flow.cs
  Yousei/Api/Types/FlowConfigInput.cs
  Yousei/Dockerfile
  Yousei/Internal/ConfigurationProviderDatabase.cs
  Yousei/Internal/InternalApi.cs
  Yousei/Program.cs
  Yousei/Properties/launchSettings.json
  Yousei/Startup.cs
  Yousei/Yousei.csproj
  Yousei/appsettings.Development.json
Due: Build App, Build Web, Publish App, Publish Web

Implement basic read/write UI
  Yousei.Web/Model/ConfigModel.cs
  Yousei.Web/Model/ConnectionConfigModel.cs
  Yousei.Web/Model/FlowConfigModel.cs
  Yousei.Web/Pages/Index.razor
  Yousei.Web/Pages/_Host.cshtml
  Yousei.Web/Shared/MainLayout.razor
  Yousei.Web/_Imports.razor
  Yousei.Web/wwwroot/css/site.css
Due: Build Web, Publish Web

Enable adding of new flows and configurations
  Yousei.Shared/IConfigurationDatabase.cs
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Pages/Index.razor
  Yousei.Web/wwwroot/js/main.js
  Yousei/Api/Database.cs
  Yousei/Internal/ConfigurationProviderDatabase.cs
Due: Build App, Build Web, Publish App, Publish Web

Enable deletion of configs
  Yousei.Web/Model/ConfigModel.cs
  Yousei.Web/Model/ConnectionConfigModel.cs
  Yousei.Web/Model/FlowConfigModel.cs
  Yousei.Web/Pages/Index.razor
  Yousei.Web/wwwroot/css/site.css
Due: Build Web, Publish Web

Move ConfigurationProviderDatabase to Yousei.Yousei.Internal.Database
  Yousei/Internal/Database/ConfigurationProviderDatabase.cs
  Yousei/Startup.cs
Due: Build App, Publish App

Add InMemoryDatabase
  Yousei.Web/Pages/Index.razor
  Yousei/Internal/Database/InMemoryDatabase.cs
  Yousei/Startup.cs
Due: Build App, Build Web, Publish App, Publish Web

Decouple IConfigurationProvider from InMemoryDatabase
  Yousei.Shared/IConfigurationProviderNotifier.cs
  Yousei.Shared/Yousei.Shared.csproj
  Yousei/Internal/ConfigurationProviderNotifier.cs
  Yousei/Internal/ConfigurationProviderReceiver.cs
  Yousei/Internal/Database/InMemoryDatabase.cs
  Yousei/Startup.cs
Due: Build App, Build Web, Publish App, Publish Web

Rename property
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Model/ConnectionConfigModel.cs
  Yousei/Api/Extensions/ConfigurationExtension.cs
Due: Build App, Build Web, Publish App, Publish Web

Move core yaml serialization to Yousei.Core
  Yousei.Core/Serialization/Yaml/BlockConfigDeserializer.cs
  Yousei.Core/Serialization/Yaml/ParameterDeserializer.cs
  Yousei.Core/Serialization/Yaml/YamlUtil.cs
  Yousei.Core/Yousei.Core.csproj
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
Due: Build App, Publish App

Path conditions:
  Build App: (((any of: Yousei/**) or (any of: Yousei.Connectors/**)) or (any of: Yousei.Core/**)) or (any of: Yousei.Shared/**)
  Build Web: (any of: Yousei.Shared/**) or (any of: Yousei.Web/**)
  Publish App: (((any of: Yousei/**) or (any of: Yousei.Connectors/**)) or (any of: Yousei.Core/**)) or (any of: Yousei.Shared/**)
  Publish Web: (any of: Yousei.Shared/**) or (any of: Yousei.Web/**)
