Repository WiiPlayer2/Yousei: changes, and which Jenkins stages are due for each by the changed paths.
All: Build App, Build Web, Publish App, Publish Web

Build App:
              steps {
                  sh 'docker build -t registry.dark-link.info/yousei:$CLEAN_GIT_BRANCH -f ./Yousei/Dockerfile .'
              }
          

Build Web:
              steps {
                  sh 'docker build -t registry.dark-link.info/yousei-web:$CLEAN_GIT_BRANCH -f ./Yousei.Web/Dockerfile .'
              }
          

Publish App:
              steps {
                  withDockerRegistry([credentialsId: 'vserver-container-registry', url: "https://registry.dark-link.info/"]) {
                      sh 'docker tag registry.dark-link.info/yousei:$CLEAN_GIT_BRANCH registry.dark-link.info/yousei:latest'
  ...

Publish Web:
              steps {
                  withDockerRegistry([credentialsId: 'vserver-container-registry', url: "https://registry.dark-link.info/"]) {
                      sh 'docker tag registry.dark-link.info/yousei-web:$CLEAN_GIT_BRANCH registry.dark-link.info/yousei-web:latest'
  ...

Use ".g.cs" for generated files
  Yousei.SourceGen/ParameterizedGenerator.cs
Due: none

Allow null values for context
  Yousei.Shared/IFlowContext.cs
  Yousei/Internal/FlowContext.cs
Due: Build App, Build Web, Publish App, Publish Web

Add GraphQL types
  Yousei.Web/Api/Types.cs
Due: Build Web, Publish Web

Use mapped types
  Yousei.Web/Api/AppConfigurationDatabase.cs
Due: Build Web, Publish Web

Fix configurations not deletable
  Yousei/Api/Mutations/DatabaseMutation.cs
Due: Build App, Publish App

Bug/fix UI cast error (#30)
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Api/Types.cs
  Yousei/Api/Mutations/DatabaseMutation.cs
Due: Build App, Build Web, Publish App, Publish Web

Add Yousei.Core.Test
  Yousei.Core.Test/ActionDisposableTest.cs
  Yousei.Core.Test/Yousei.Core.Test.csproj
  Yousei.sln
Due: none

Add SimpleConnectionTest
  Yousei.Core.Test/ActionDisposableTest.cs
  Yousei.Core.Test/SimpleConnectionTest.cs
Due: none

Add SimpleConnectorTest
  Yousei.Core.Test/SimpleConnectorTest.cs
  Yousei.Core.Test/Yousei.Core.Test.csproj
Due: none

Sort projects into folders
  Yousei.sln
Due: none

Add Yousei.Test
  Yousei.Test/Yousei.Test.csproj
  Yousei.sln
Due: none

Make internals visible
  Directory.Build.targets
  Yousei.Test/Yousei.Test.csproj
  Yousei.sln
Due: none

Add LogConnectorTest
  Yousei.Test/Internal/Connectors/ConnectorTest.cs
  Yousei.Test/Internal/Connectors/LogConnectorTest.cs
  Yousei.Test/Yousei.Test.csproj
  Yousei/Internal/Connectors/Log/LogConnector.cs
Due: Build App, Publish App

Add DataConnectorTest
  Yousei.Test/Internal/Connectors/ConnectorTest.cs
  Yousei.Test/Internal/Connectors/DataConnectorTest.cs
  Yousei.Test/Internal/Connectors/LogConnectorTest.cs
Due: none

Add InternalConnectorTest
  Yousei.Test/Internal/Connectors/ConnectorTest.cs
  Yousei.Test/Internal/Connectors/InternalConnectorTest.cs
  Yousei.Test/Yousei.Test.csproj
Due: none

Remove obsolete trigger classes
  Yousei/Internal/Connectors/Internal/OnExceptionTrigger.cs
  Yousei/Internal/Connectors/Internal/OnStartTrigger.cs
  Yousei/Internal/Connectors/Internal/OnStopTrigger.cs
Due: Build App, Publish App

Add ControlConnectorTest
  Yousei.Test/Internal/Connectors/ControlConnectorTest.cs
Due: none

Add TriggerConnectorTest
  Yousei.Test/Internal/Connectors/ConnectorTest.cs
  Yousei.Test/Internal/Connectors/ControlConnectorTest.cs
  Yousei.Test/Internal/Connectors/TriggerConnectorTest.cs
Due: none

Add FlowActorTest
  Yousei.Test/Internal/FlowActorTest.cs
Due: none

Add FlowContextTest
  Yousei.Test/Internal/FlowContextTest.cs
Due: none

Add test stage
  Jenkinsfile
Due: none

Replace agent definition with step
  Jenkinsfile
Due: none

Replace step
  Jenkinsfile
Due: none

Revert "Replace step"
  Jenkinsfile
Due: none

idk
  Jenkinsfile
Due: none

Move docker step into script block
  Jenkinsfile
Due: none

Add environment variable
  Jenkinsfile
Due: none

Always collect test reports
  Jenkinsfile
Due: none

Delete old test results before testing
  Jenkinsfile
Due: none

Specify test report files
  Jenkinsfile
Due: none

Make tests more stable
  Yousei.Test/Internal/Connectors/TriggerConnectorTest.cs
Due: none

Update coverage parameter
  Jenkinsfile
Due: none

Add ExpressionParameterTest
  Yousei.Core.Test/ExpressionParameterTest.cs
Due: none

Add VariableParameterTest
  Yousei.Core.Test/VariableParameterTest.cs
Due: none

Rename test projects
  Directory.Build.targets
  Yousei.Core.Tests/ActionDisposableTest.cs
  Yousei.Core.Tests/ExpressionParameterTest.cs
  Yousei.Core.Tests/SimpleConnectionTest.cs
  Yousei.Core.Tests/SimpleConnectorTest.cs
  Yousei.Core.Tests/VariableParameterTest.cs
  Yousei.Core.Tests/Yousei.Core.Tests.csproj
  Yousei.Tests/Internal/Connectors/ConnectorTest.cs
  Yousei.Tests/Internal/Connectors/ControlConnectorTest.cs
  Yousei.Tests/Internal/Connectors/DataConnectorTest.cs
  Yousei.Tests/Internal/Connectors/InternalConnectorTest.cs
  Yousei.Tests/Internal/Connectors/LogConnectorTest.cs
  Yousei.Tests/Internal/Connectors/TriggerConnectorTest.cs
  Yousei.Tests/Internal/FlowActorTest.cs
  Yousei.Tests/Internal/FlowContextTest.cs
  Yousei.Tests/Yousei.Tests.csproj
  Yousei.sln
Due: none

Implement FlowContext on the base of ExpandoObject
  Yousei.Core/Helper.cs
  Yousei.Tests/Internal/FlowContextTest.cs
  Yousei/Internal/Connectors/Debug/DumpAction.cs
  Yousei/Internal/FlowContext.cs
Due: Build App, Publish App

Path conditions:
  Build App: (((any of: Yousei/**) or (any of: Yousei.Connectors/**)) or (any of: Yousei.Core/**)) or (any of: Yousei.Shared/**)
  Build Web: (any of: Yousei.Shared/**) or (any of: Yousei.Web/**)
  Publish App: (((any of: Yousei/**) or (any of: Yousei.Connectors/**)) or (any of: Yousei.Core/**)) or (any of: Yousei.Shared/**)
  Publish Web: (any of: Yousei.Shared/**) or (any of: Yousei.Web/**)
