Repository WiiPlayer2/Yousei: changes, and which Jenkins stages are due for each by the changed paths.
All: Build App, Build Web, Publish App, Publish Web

Jenkinsfile:

pipeline {
    agent {
        label 'docker'
    }

    environment {
        CLEAN_GIT_BRANCH = "${env.GIT_BRANCH.replaceAll('/', '_')}"
    }

    stages {
        stage('Check Integrity') {
            when { changeRequest() }
            steps {
                script {
                    if(env.CHANGE_TARGET == 'main' && !(env.CHANGE_BRANCH ==~ /(release|hotfix)\/.+/)) {
                        error('Only release and hotifx branches are allowed.')
                    }
                    if(env.CHANGE_TARGET == 'dev' && !(env.CHANGE_BRANCH ==~ /(feature|bug|hotfix)\/.*/)) {
                        error('Only feature, bug and hotfix branches are allowed.')
                    }
                }
            }
        }

        stage('Build App') {
            when {
                anyOf {
                    changeset 'Yousei/**'
                    changeset 'Yousei.Connectors/**'
                    changeset 'Yousei.Core/**'
                    changeset 'Yousei.Shared/**'
                }
            }
            steps {
                sh 'docker build -t registry.dark-link.info/yousei:$CLEAN_GIT_BRANCH -f ./Yousei/Dockerfile .'
            }
        }

        stage('Build Web') {
            when {
                anyOf {
                    changeset 'Yousei.Shared/**'
                    changeset 'Yousei.Web/**'
                }
            }
            steps {
                sh 'docker build -t registry.dark-link.info/yousei-web:$CLEAN_GIT_BRANCH -f ./Yousei.Web/Dockerfile .'
            }
        }

        stage('Publish App') {
            when {
                allOf {
                    branch pattern: "main|dev", comparator: "REGEXP"
                    anyOf {
                        changeset 'Yousei/**'
                        changeset 'Yousei.Connectors/**'
                        changeset 'Yousei.Core/**'
                        changeset 'Yousei.Shared/**'
                    }
                }
            }
            steps {
                withDockerRegistry([credentialsId: 'vserver-container-registry', url: "https://registry.dark-link.info/"]) {
                    sh 'docker tag registry.dark-link.info/yousei:$CLEAN_GIT_BRANCH registry.dark-link.info/yousei:latest'
                    sh 'docker image push registry.dark-link.info/yousei:$CLEAN_GIT_BRANCH'
                    sh 'docker image push registry.dark-link.info/yousei:latest'
                }
            }
        }

        stage('Publish Web') {
            when {
                allOf {
                    branch pattern: "main|dev", comparator: "REGEXP"
                    anyOf {
                        changeset 'Yousei.Shared/**'
                        changeset 'Yousei.Web/**'
                    }
                }
            }
            steps {
                withDockerRegistry([credentialsId: 'vserver-container-registry', url: "https://registry.dark-link.info/"]) {
                    sh 'docker tag registry.dark-link.info/yousei-web:$CLEAN_GIT_BRANCH registry.dark-link.info/yousei-web:latest'
                    sh 'docker image push registry.dark-link.info/yousei-web:$CLEAN_GIT_BRANCH'
                    sh 'docker image push registry.dark-link.info/yousei-web:latest'
                }
            }
        }
    }
}

Revert "Move core yaml serialization to Yousei.Core"
  Yousei.Core/Serialization/Yaml/YamlUtil.cs
  Yousei.Core/Yousei.Core.csproj
  Yousei/Serialization/Yaml/BlockConfigDeserializer.cs
  Yousei/Serialization/Yaml/ParameterDeserializer.cs
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
Due: Build App, Publish App

Use source config directly
  Yousei.Shared/IConfigurationDatabase.cs
  Yousei.Shared/SourceConfig.cs
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Model/ConfigModel.cs
  Yousei.Web/Model/ConnectionConfigModel.cs
  Yousei.Web/Model/FlowConfigModel.cs
  Yousei.Web/Pages/Index.razor
  Yousei/Api/Extensions/ConfigurationExtension.cs
  Yousei/Api/Extensions/FlowExtension.cs
  Yousei/Api/Mutations/DatabaseMutation.cs
  Yousei/FlowManager.cs
  Yousei/Internal/Database/ConfigurationProviderDatabase.cs
  Yousei/Internal/Database/InMemoryDatabase.cs
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
  Yousei/Serialization/Yaml/YamlUtil.cs
Due: Build App, Build Web, Publish App, Publish Web

Fix retrieving of source
  Yousei.Web/Api/AppConfigurationDatabase.cs
Due: Build Web, Publish Web

Fix crashes when cancelling input prompt
  Yousei.Web/Pages/Index.razor
Due: Build Web, Publish Web

Revert to use YamlConfigurationProvider (to be useful)
  Yousei/Startup.cs
Due: Build App, Publish App

Remove main.js
  Yousei.Web/wwwroot/js/main.js
Due: Build Web, Publish Web

Feature/basic UI (#22)
  Yousei.Shared/IConfigurationDatabase.cs
  Yousei.Shared/IConfigurationProviderNotifier.cs
  Yousei.Shared/SourceConfig.cs
  Yousei.Shared/Yousei.Shared.csproj
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Model/ConfigModel.cs
  Yousei.Web/Model/ConnectionConfigModel.cs
  Yousei.Web/Model/FlowConfigModel.cs
  Yousei.Web/Pages/Index.razor
  Yousei.Web/Pages/_Host.cshtml
  Yousei.Web/Shared/MainLayout.razor
  Yousei.Web/_Imports.razor
  Yousei.Web/wwwroot/css/site.css
  Yousei/Api/Database.cs
  Yousei/Api/Extensions/ConfigurationExtension.cs
  Yousei/Api/Extensions/FlowExtension.cs
  Yousei/Api/Mutations/DatabaseMutation.cs
  Yousei/FlowManager.cs
  Yousei/Internal/ConfigurationProviderNotifier.cs
  Yousei/Internal/ConfigurationProviderReceiver.cs
  Yousei/Internal/Database/ConfigurationProviderDatabase.cs
  Yousei/Internal/Database/InMemoryDatabase.cs
  Yousei/Serialization/Yaml/YamlConfigurationProvider.cs
  Yousei/Serialization/Yaml/YamlUtil.cs
  Yousei/Startup.cs
Due: Build App, Build Web, Publish App, Publish Web

Add YamlConfigurationDatabase
  Yousei/Internal/Database/YamlConfigurationDatabase.cs
  Yousei/Startup.cs
  Yousei/appsettings.Development.json
  Yousei/appsettings.json
Due: Build App, Publish App

Add YamlConfigurationDatabase (#23)
  Yousei/Internal/Database/YamlConfigurationDatabase.cs
  Yousei/Startup.cs
  Yousei/appsettings.Development.json
  Yousei/appsettings.json
Due: Build App, Publish App

Add logging to Index
  Yousei.Web/Pages/Index.razor
  Yousei.Web/_Imports.razor
Due: Build Web, Publish Web

Add docker target to Yousei
  Yousei/Properties/launchSettings.json
  Yousei/Yousei.csproj
Due: Build App, Publish App

Feature/enhance UI logging (#24)
  Yousei.Web/Pages/Index.razor
  Yousei.Web/_Imports.razor
  Yousei/Properties/launchSettings.json
  Yousei/Yousei.csproj
Due: Build App, Build Web, Publish App, Publish Web

Add verbose logging to graph ql handling
  Yousei.Web/Api/AppApi.cs
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Api/GraphQlRequestHandler.cs
  Yousei.Web/Startup.cs
  Yousei.Web/appsettings.Development.json
Due: Build Web, Publish Web

Add first chance and unhandled exception logging
  Yousei.Web/MainService.cs
  Yousei.Web/Startup.cs
Due: Build Web, Publish Web

Handle infinite event loop
  Yousei/FlowManager.cs
Due: Build App, Publish App

Feature/further enhance UI logging (#25)
  Yousei.Web/Api/AppApi.cs
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Api/GraphQlRequestHandler.cs
  Yousei.Web/MainService.cs
  Yousei.Web/Startup.cs
  Yousei.Web/appsettings.Development.json
  Yousei/FlowManager.cs
Due: Build App, Build Web, Publish App, Publish Web

Check for source in GraphQL request
  Yousei/Api/Database.cs
Due: Build App, Publish App

Check for source in GraphQL request (#26)
  Yousei/Api/Database.cs
Due: Build App, Publish App

Added Base for new Index Page
  Yousei.Web/Pages/Index2.cs
  Yousei.Web/Pages/Index2.razor
Due: Build Web, Publish Web

Setup tailwindcss with yarn
  .gitignore
  Yousei.Web/Pages/Head.razor
  Yousei.Web/Yousei.Web.csproj
  Yousei.Web/appsettings.Development.json
  Yousei.Web/package.json
  Yousei.Web/postcss.config.js
  Yousei.Web/site.css
  Yousei.Web/tailwind.config.js
Due: Build Web, Publish Web

Install yarn before building
  Yousei.Web/Dockerfile
Due: Build Web, Publish Web

Await task before returning value
  Yousei/Internal/ConfigurationProviderReceiver.cs
Due: Build App, Publish App

Await task before returning value (#27)
  Yousei/Internal/ConfigurationProviderReceiver.cs
Due: Build App, Publish App

Initialise then and else
  Yousei/Internal/Connectors/Control/IfArguments.cs
Due: Build App, Publish App

Add more information through FlowException
  Yousei.Shared/IFlowContext.cs
  Yousei/FlowManager.cs
  Yousei/Internal/FlowActor.cs
  Yousei/Internal/FlowContext.cs
  Yousei/Internal/FlowException.cs
Due: Build App, Build Web, Publish App, Publish Web

Add graphql trigger subscription
  Yousei/Api/Subscriptions/Subscription.cs
  Yousei/Api/Types/BlockConfigInput.cs
  Yousei/Api/Types/FlowConfigInput.cs
  Yousei/Properties/launchSettings.json
  Yousei/Startup.cs
  Yousei/Yousei.csproj
Due: Build App, Publish App

Add flow lifecycle events
  Yousei/FlowManager.cs
  Yousei/Internal/Connectors/Internal/InternalEvent.cs
Due: Build App, Publish App

Add flow stack trace
  Yousei.Core/Helper.cs
  Yousei.Shared/IFlowContext.cs
  Yousei/FlowManager.cs
  Yousei/Internal/Connectors/Control/ForEachAction.cs
  Yousei/Internal/Connectors/Control/IfAction.cs
  Yousei/Internal/Connectors/Control/SwitchAction.cs
  Yousei/Internal/FlowActor.cs
  Yousei/Internal/FlowContext.cs
  Yousei/Internal/FlowException.cs
Due: Build App, Build Web, Publish App, Publish Web

Retry subscriptions when running into an exception
  Yousei/FlowManager.cs
Due: Build App, Publish App

Suppress warning
  Yousei/Internal/FlowException.cs
Due: Build App, Publish App

Treat warnings as errors
  Yousei.Web/Dockerfile
  Yousei/Dockerfile
Due: Build App, Build Web, Publish App, Publish Web

Use async runner
  Yousei.Web/Program.cs
  Yousei/Program.cs
Due: Build App, Build Web, Publish App, Publish Web

Use parallel stages
  Jenkinsfile
Due: none

Feature/quality of life (#28)
  Jenkinsfile
  Yousei.Core/Helper.cs
  Yousei.Shared/IFlowContext.cs
  Yousei.Web/Dockerfile
  Yousei.Web/Program.cs
  Yousei/Api/Subscriptions/Subscription.cs
  Yousei/Api/Types/BlockConfigInput.cs
  Yousei/Api/Types/FlowConfigInput.cs
  Yousei/Dockerfile
  Yousei/FlowManager.cs
  Yousei/Internal/Connectors/Control/ForEachAction.cs
  Yousei/Internal/Connectors/Control/IfAction.cs
  Yousei/Internal/Connectors/Control/IfArguments.cs
  Yousei/Internal/Connectors/Control/SwitchAction.cs
  Yousei/Internal/Connectors/Internal/InternalEvent.cs
  Yousei/Internal/FlowActor.cs
  Yousei/Internal/FlowContext.cs
  Yousei/Internal/FlowException.cs
  Yousei/Program.cs
  Yousei/Properties/launchSettings.json
  Yousei/Startup.cs
  Yousei/Yousei.csproj
Due: Build App, Build Web, Publish App, Publish Web

Enable nullable feature in Yousei.Shared
  Yousei.Shared/BlockConfig.cs
  Yousei.Shared/FlowConfig.cs
  Yousei.Shared/Yousei.Shared.csproj
Due: Build App, Build Web, Publish App, Publish Web

Enable nullable feature in Yousei.Core
  Yousei.Core/Connector.cs
  Yousei.Core/ConstantParameter.cs
  Yousei.Core/ExpressionParameter.cs
  Yousei.Core/FlowAction.cs
  Yousei.Core/FlowTrigger.cs
  Yousei.Core/Helper.cs
  Yousei.Core/InvokeAction.cs
  Yousei.Core/ObservableTrigger.cs
  Yousei.Core/SimpleConnection.cs
  Yousei.Core/SimpleConnector.cs
  Yousei.Core/VariableParameter.cs
  Yousei.Core/Yousei.Core.csproj
  Yousei.Shared/IConnection.cs
  Yousei.Shared/IConnector.cs
  Yousei.Shared/IFlowAction.cs
  Yousei.Shared/IFlowTrigger.cs
  Yousei.Shared/IParameter.cs
Due: Build App, Build Web, Publish App, Publish Web

Enable nullable feature in Yousei.Web
  Yousei.Shared/IConfigurationDatabase.cs
  Yousei.Web/Api/ApiOptions.cs
  Yousei.Web/Api/AppConfigurationDatabase.cs
  Yousei.Web/Api/GraphQlRequestHandler.cs
  Yousei.Web/Model/ConfigModel.cs
  Yousei.Web/Model/ConnectionConfigModel.cs
  Yousei.Web/Model/FlowConfigModel.cs
  Yousei.Web/Yousei.Web.csproj
Due: Build App, Build Web, Publish App, Publish Web

Fix nullabilty issues in pages
  Yousei.Web/Pages/Error.cshtml.cs
  Yousei.Web/Pages/Index.razor
Due: Build Web, Publish Web

Enable nullable feature in Yousei.Connectors
  Yousei.Connectors/Http/HttpConnection.cs
  Yousei.Connectors/Http/HttpConnector.cs
  Yousei.Connectors/Http/HttpRequest.cs
  Yousei.Connectors/Http/HttpResponse.cs
  Yousei.Connectors/Http/RequestAction.cs
  Yousei.Connectors/Http/RequestArguments.cs
  Yousei.Connectors/Http/WebhookArguments.cs
  Yousei.Connectors/Http/WebhookTrigger.cs
  Yousei.Connectors/Rss/Config.cs
  Yousei.Connectors/Rss/FeedTrigger.cs
  Yousei.Connectors/Telegram/Config.cs
  Yousei.Connectors/Telegram/SendAction.cs
  Yousei.Connectors/Telegram/SendArguments.cs
  Yousei.Connectors/Telegram/TelegramConnection.cs
  Yousei.Connectors/Transmission/AddAction.cs
  Yousei.Connectors/Transmission/GetAction.cs
  Yousei.Connectors/Transmission/RemoveAction.cs
  Yousei.Connectors/Transmission/TransmissionConfiguration.cs
  Yousei.Connectors/Transmission/TransmissionConnector.cs
  Yousei.Connectors/Yousei.Connectors.csproj
  Yousei.Core/DefaultParameter.cs
  Yousei.Core/SimpleConnector.cs
Due: Build App, Publish App

Enable nullable feature in Yousei.SourceGen
  Yousei.SourceGen/Helper.cs
  Yousei.SourceGen/ParameterizedGenerator.cs
  Yousei.SourceGen/Yousei.SourceGen.csproj
Due: none
